#header .nav-items .nav-item:last-of-type {
  display: flex;

  .jandan-record-link {
    cursor: pointer;
  }
}

.jandan-record-link {
  word-break: keep-all;
}

.jandan-record-rainbow-text {
  font-size: 1.1rem !important;
  background: linear-gradient(to right, #66f, #09f, #0f0, #f39, #66f);
  background-clip: text !important;
  color: transparent !important;
  animation: rainbowanimation 6s ease-in-out infinite !important;
  background-size: 400% 100% !important;
}

.jandan-record-reply-ref {
  text-decoration: underline;
}

#jandan-record-reply-tooltip {
  position: fixed;
  z-index: 9999;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border: 1px solid #cfcfcf;
  padding: 12px;
  background: white;
  max-width: 400px;
}

@keyframes rainbowanimation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
