#header .nav-items .nav-item:last-of-type {
  display: flex;

  .jandan-record-link {
    cursor: pointer;
  }
}

.jandan-record-link {
  word-break: keep-all;
}

.jandan-record-rainbow-text {
  font-size: 1.1rem !important;
  background: linear-gradient(to right, #66f, #09f, #0f0, #f39, #66f);
  background-clip: text !important;
  color: transparent !important;
  animation: rainbowanimation 6s ease-in-out infinite !important;
  background-size: 400% 100% !important;
}

@keyframes rainbowanimation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
