#header .nav-items .nav-item:last-of-type {
  display: flex;
  .jandan-record-link {
    cursor: pointer;
  }
}

#jandan-recorder-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, .6);
  .inner {
    background: white;
    width: 70%;
    height: calc(100% - 100px);
    min-width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
  
  .table-container {
    overflow: auto;
    height: 100%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      border-radius: 12px 12px 0 0;
    }
    thead th { 
      padding: 10px 0;
      font-size: 16px;
      position: sticky; 
      top: 0; 
      z-index: 1; 
      background: rgb(200, 200, 200);
    }
    tbody td {
      font-size: 14px;
      padding: 8px 0;
      border-bottom: 1px solid rgb(218, 218, 218);
      min-width: 80px;
    }
  }
}